<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework12">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="赵月旭的商城"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TabHostActivity" android:theme="@style/AppCompatTheme" android:exported="true"></activity>
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".RegisterReadActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterWriteActivity"
            android:exported="true" />
        <activity
            android:name=".LoginForgetActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LaunchImproveActivity"
            android:exported="true"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity
            android:name=".ShoppingChannelActivity"
            android:exported="true"

            />
        <activity
            android:name=".ShoppingCartProActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingDetailActivity"
            android:exported="true"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".SearchResultActivity"
            android:exported="true" />
    </application>

</manifest>